<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.playposse.ghostphoto">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".GhostPhotoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/analytics_global_config" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5e6d81f10c3b91abdbb377d69ca013c8a8fecb3e" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.playposse.ghostphoto.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <provider
            android:name=".data.GhostPhotoContentProvider"
            android:authorities="com.playposse.ghostphoto.provider"
            android:exported="false" />

        <activity android:name=".activities.other.IntroductionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.camera.PhotoActivity" />
        <activity
            android:name=".activities.other.AboutActivity"
            android:parentActivityName=".activities.camera.PhotoActivity" />
        <activity
            android:name=".activities.review.ListShootsActivity"
            android:parentActivityName=".activities.camera.PhotoActivity" />
        <activity
            android:name=".activities.review.ReviewPhotoShootActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.review.ListShootsActivity" />
        <activity
            android:name=".activities.review.ComparePhotosActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.review.ReviewPhotoShootActivity" />
        <activity android:name=".activities.review.ViewPhotoActivity"></activity>
    </application>

</manifest>